<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciamento de itens</title>
</head>
<body>
  <header>
    <div class="titulo-header">
      <mat-card-title>Tânia Gama Gerenciamento</mat-card-title>
    </div>
  </header>
  <main>
    <mat-card>
      <div class="titulo">
        <mat-card-title>O que você quer gerenciar ?</mat-card-title>
      </div>
      <mat-card-actions> 
        <button color="primary" mat-flat-button routerLink="bolos/cadastro">CADATRAR BOLOS</button>
        <button color="primary" mat-flat-button routerLink="bolos">ATUALIZAR BOLOS</button>               
      </mat-card-actions>
      <mat-card-actions> 
        <button color="accent" mat-flat-button routerLink="doces/cadastro">CADASTRAR DOCES</button>        
        <button color="accent" mat-flat-button routerLink="doces">ATUALIZAR DOCES</button> 
      </mat-card-actions>
      <router-outlet></router-outlet> 
    </mat-card>
  </main>
  
</body>
</html>
